doctype html
html
  head
    link(rel='stylesheet', href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    block content
